
/* --------------------------------------
   Layout
   -------------------------------------- */
#features{
   text-align: center;
}
#features img{
  width: 100px;
  height: 100px;
  align-content: center;
}
.carousel-caption{
   font-family: 'Times New Roman', Times, serif;
}


/* --------------------------------------
   Typography
   -------------------------------------- */
body{
   -webkit-font-smoothing:antialiased;
   text-rendering: optimizeLegibility;
}
.well{
   margin-top: 10px;
   text-align: center;
}
.well .page-header{
   margin-top: 10px;
}
.well .page-header h2{
   margin-top: 0px;
}
#bigCallout h2{

text-transform: capitalize;
   
}



/* --------------------------------------
   Navbar
   -------------------------------------- */
   .navwhole {
      background-color: black;
      font-size: 18px;
      padding-left: 20px;
   }
   .navwhole h4 {
         font-size: 18  px;
         padding-top: 5px;   }
   
   .navi{      
      padding-top: 20px;
      padding-left: 200px;
         }  
   .searchbtn{
     margin: 6px;
   }
   .navpadding{
      margin-left: 90px;
   }
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel .item { 
   margin-top: 50px;
   height: 600px;
}
.hero{
   width: 100%;
   height: auto;
   max-height: 600px;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */


.modal-dialog{
   text-align: center;
   }

.panel{
 
   margin-top: 10px;

}
.social{
   padding-top: 80px;
   padding-left: 20px;
}
.fa {
  margin-right: 5px;
  padding-top: 10px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align:center;
  align-content: center;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


.form-control{
 padding:0px 30px;
 text-align: center;
  }

.modal-body{
    padding-bottom: 0px;
 }
 #inputAddress{
    text-align: left;
 }
footer{
   text-align: center;
}
footer{
   background: black;
   color : white;
   margin-top: 20px;
   padding: 20px;
}